* {
    font-family: monospace;
}

h1,
h3 {
    margin-left: 10%;
}

h2 {
    margin-left: 12%;
}

p {
    font-size: 16px;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
}

li {
    font-size: 16px;
    margin-left: 12%;
    margin-right: 10%;
}

img {
    max-width: 80%;
    /*margin: 0%;*/
    /*width: 100%;*/
    height: auto;
}
